body {
	background-color: #F0F0FA;
}
.container-input{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -220px 0 0 -200px;
	padding: 40px;
	background: #F7F7F7;
}
.container-input h1{
	background: #205F60;
	padding: 20px 0;
	font-size: 160%;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.container-input p, a{
	text-align: center;
	color: #205F60;
	font:  20px Arial, Helvetica, sans-serif; ;

}
.container-input input[type="text"]
{
	display: inline-block;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.container-input input[type="text"]:focus
{
	box-shadow: 0 0 5px #205F60;
	padding: 3%;
	border: 1px solid #205F60;
}
.container-input input[type="submit"],
.container-input input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #205F60;
	border-bottom: 2px solid #205F60;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.container-input input[type="submit"]:hover,
.container-input input[type="button"]:hover{
	background: #205F60;}

.container-input input[type="button"]#delete_income_button,
.container-input input[type="button"]#edit_income_button{
	width: 45%;
	padding: 3%;
	background: #205F60;
	border-bottom: 2px solid #205F60;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
	margin: 1px 4px 4px 4px  ;
}

.pictures{
	margin: 5px;
	background: #fff;
	position: inherit;
}