body {
	background-color: #F0F0FA;
}
.container-input{
	display: inline-block;
	padding: 40px;
	background: #F7F7F7;
	font-size: 120%;
}
.container-input h1{
	background: #205F60;
	padding: 20px 10px;
	font-size: 140%;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.container-input .income-name {
	color: #FFFF00;
}
.container-input .small-income-text {
	color: #143A3D;
	font-size: 120%;
	padding: 5px;
}
.container-input p,
.container-input a{
	text-align: center;
	color: #205F60;

}
.container-input input[type="text"]
{
	display: inline-block;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}
.container-input input[type="text"]:focus
{
	box-shadow: 0 0 5px #205F60;
	padding: 3%;
	border: 1px solid #205F60;
}
.container-input input[type="submit"],
.container-input input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #205F60;
	border-bottom: 2px solid #205F60;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.container-input input[type="submit"]:hover,
.container-input input[type="button"]:hover{
	background: #205F60;}

.container-input input[type="button"]#delete_income_button,
.container-input input[type="button"]#edit_income_button{
	width: 43%;
	padding: 3%;
	background: #205F60;
	border-bottom: 2px solid #205F60;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
	margin: 1px 4px 4px 4px  ;
}
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* HIDE RADIO */
label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
label input[type=radio] + span {
  cursor: pointer;
}

label input[type=radio]:checked + span {
  outline: 2px solid #205F60;
}

.container-message {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.success-message {
    width: 30%;
    height: 35%;
    background-color: #F0F0FA;
    text-align: center;
}

.success-message h1{
	background: #205F60;
	padding: 20px 10px;
	font-size: 150%;
	text-align: center;
	color: #fff;
	margin: 20px;
}

.success-message p,
.success-message a{
	text-align: center;
	font-size: 110%;
	color: #205F60;

}
.success-message input[type="submit"],
.success-message input[type="button"]{
	display: inline-flex;
	width: 40%;
	padding: 3%;
	background: #205F60;
	color: #fff;
	font-size: 110%;
}
.success-message input[type="submit"]:hover,
.success-message input[type="button"]:hover{
	background: #205F60;
}
.success-message .income-name {
	color: #FFFF00;
}

.edit-window {
    width: 30%;
    height: 90%;
    background-color: #F0F0FA;
    text-align: center;
}

.edit-window h1{
	background: #205F60;
	padding: 20px 10px;
	font-size: 150%;
	text-align: center;
	color: #fff;
	margin: 20px;
}
.edit-window p,
.edit-window a{
	text-align: center;
	font-size: 110%;
	color: #205F60;

}
.edit-window input[type="text"]
{
	outline: none;
	width: 90%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4px;
	color: #555;
}
.edit-window input[type="text"]:focus
{
	box-shadow: 0 0 5px #205F60;
	padding: 4px;
	border: 1px solid #205F60;
}
.edit-window input[type="submit"],
.edit-window input[type="button"]{
	display: inline-flex;
	width: 40%;
	padding: 4px;
	background: #205F60;
	color: #fff;
	font-size: 110%;
    }
.edit-window input[type="submit"]:hover,
.edit-window input[type="button"]:hover{
	background: #205F60;}


