.icon_flex {
  display: flex;
  justify-content: start;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + span {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + span {
  outline: 2px solid #f00;
}


.coins {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background: url(../images/current/coins.svg);
  background-size: 80px 80px;
}

.coin-9 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background: url(../images/current/coin-9.svg);
  background-size: 80px 80px;
}

.credit-card-6 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background: url(../images/current/credit-card-6.svg);
  background-size: 80px 80px;
}

.notes {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background: url(../images/current/notes.svg);
  background-size: 80px 80px;
}

.notes-2 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;

  background: url(../images/current/notes-2.svg);
  background-size: 80px 80px;
}

.piggy-bank-1 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;

  background: url(../images/current/piggy-bank-1.svg);
  background-size: 80px 80px;
}

.safebox-4 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;

  background: url(../images/current/safebox-4.svg);
  background-size: 80px 80px;
}

.wallet-1 {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  margin: 10px;

  background: url(../images/current/wallet-1.svg);
  background-size: 80px 80px;
}





