
.icon_format {
    display: block;
    width: 32px;
    height: 32px;
    margin: 10px;
    background-size: 32px 32px;
}

.add-icon {
    background: url(../images/home/plus-circle.svg);
    display: inline-flex;
    width: 22px;
    height: 22px;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    top: 3px;
    filter: brightness(2);
}


.icon_flex {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* HIDE RADIO */
.icon_flex input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.icon_flex input[type=radio] + span {
    cursor: pointer;
}

.icon_flex [type=radio]:checked + span {
    background-color: #C1E2E3;
    border-radius: 3px;
    border: 1px solid #205F60;
}

.detail-page-icon {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 10%;
    background-size: 120px 120px;
}


.basket {
    background: url(../images/expend/basket.svg);
}

.box-3 {
    background: url(../images/expend/box-3.svg);
}

.cart-3 {
    background: url(../images/expend/cart-3.svg);
}

.credit-card-3 {
    background: url(../images/expend/credit-card-3.svg);
}

.get-money {
    background: url(../images/expend/get-money.svg);
}

.safebox-3 {
    background: url(../images/expend/safebox-3.svg);
}

.stamp-1 {
    background: url(../images/expend/stamp-1.svg);
}

.stand {
    background: url(../images/expend/stand.svg);
}

.store-3 {
    background: url(../images/expend/store-3.svg);
}

.coins {
    background: url(../images/current/coins.svg);
}

.coin-9 {
    background: url(../images/current/coin-9.svg);
}

.credit-card-4 {
  background: url(../images/current/credit-card-4.svg);
}

.credit-card-5 {
  background: url(../images/current/credit-card-5.svg);
}

.credit-card-6 {
    background: url(../images/current/credit-card-6.svg);
}

.notes {
    background: url(../images/current/notes.svg);
}

.notes-2 {
    background: url(../images/current/notes-2.svg);
}

.piggy-bank-1 {
    background: url(../images/current/piggy-bank-1.svg);
}

.safebox-4 {
    background: url(../images/current/safebox-4.svg);
}

.wallet-1 {
    background: url(../images/current/wallet-1.svg);
}

.presentation-1 {
    background: url(../images/statistic/presentation-1.svg);
}

.bank {
    background: url(../images/income/bank.svg);
}

.briefcase {
    background: url(../images/income/briefcase.svg);
}

.coin {
    background: url(../images/income/coin.svg);
}

.credit-card {
    background: url(../images/income/credit-card.svg);
}

.credit-cards {
    background: url(../images/income/credit-cards.svg);
}

.dollar {
    background: url(../images/income/dollar.svg);
}

.money-bag {
    background: url(../images/income/money-bag.svg);
}

.piggy-bank {
    background: url(../images/income/piggy-bank.svg);
}

.profits {
    background: url(../images/income/profits.svg);
}

.wallet {
    background: url(../images/income/wallet.svg);
}
