body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C1E2E3;
    text-decoration-color: white;
    flex-basis: 50px;

}

.header > div {
    margin: 5px 25px 5px 25px;
}

.header a:link, a:visited {
    color: white;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header-label {
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}


.container a:link, a:visited {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonn, .button {
    background-color: #EF8F85; /* Green */
    border-radius: 100%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonn:hover {
    background-color: #D85258;
    color: white;
}


.bg-modal {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 370px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
}

.modal-content img {
    display: block;
    width: 150px;
    margin: 15px  175px 15px 175px;

}

.modal-content h2 {
    display: block;
}


/* Transactions (drag n drop)*/

.fill {
  background: url('https://source.unsplash.com/random/150x150');
  position: relative;
  height: 140px;
  width: 140px;
  margin: auto;
  cursor: pointer;
}

.hold {
  border: 2px solid #90a4ae;
  opacity: 1;
}

.hovered {
  border: 5px solid #90a4ae;
}
