<form id="createCurrentForm">
    {% csrf_token %}
    <h1>Adding new current</h1>
    <div>
        {{ form.name }}
        {{ form.amount }}
        {{ form.currency }}
        <br>
        <div id="image_id" class="icon_flex">
            {% for choice in form.image.field.choices %}
                <label for="id_{{ form.image.html_name }}_{{ forloop.counter0 }}">
                    <input type="radio"
                           id="id_{{ form.image.html_name }}_{{ forloop.counter0 }}"
                           value="{{ choice.0 }}"
                           name="{{ form.image.html_name }}"/>

                    <span class="{{ choice.1 }} icon_format" title="{{ choice.1 }}"></span>
                </label>
            {% endfor %}
        </div>
    </div>
<input class="btn" type="button" value="Save" id="createCurrentButton">
<input class="btn" type="button" value="Cancel" id="goBack4">
</form>


