{% load static %}


<div class="container-input container-width-450">
  <div class="btn-group-lg d-flex justify-content-between">
    <h2>Delete Current</h2>
    <button type="cancel" id="cancel-delete" class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
  </div>

  <form id="current-delete-form">
    {% csrf_token %}
    <p id="js_validation_error">
      Can't delete this current.
      Please try again later.
    </p>
    <div class="row justify-content-center">
      <div class="col-4">
        <span class=" detail-page-icon {{ current.css }}" id="detail-current-css"></span>
      </div>

      <div class="col-8">
        <br>
        <div class="row">

          <div class="col-md-4 col-sm-12">
            <span class="text-secondary">Name:</span>
          </div>
          <div class="col-md-8 col-sm-12">
            <strong>
              <span id="detail-current-name">{{ current.name }}</span>
            </strong>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <span class="text-secondary">Amount:</span>
          </div>
          <div class="col-md-8 col-sm-12">
            <strong>
              <span id="detail-current-amount">{{ current.amount }}</span>
              {{ current.currency }}
            </strong>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <br>
        <div class="btn-group-lg d-flex justify-content-end">
        <button type="submit" class="btn login-submit">Delete</button>
    </div>

  </form>

</div>
