{% extends "base.html" %}

{% block content %}


  <h2>Current list</h2>

  <ul>
    {% for current in current_list %}
      <li>
        <a href="{% url 'current_detail' current.id %}">
          {{ current.id }} - {{ current.name }}
        </a>
        <a href="{% url 'current_detail' current.id %}">
          <p><span class="{{ current.css }} icon_format"></span></p>
        </a>

      <li>
        Name: {{ current.name }}
      </li>

      <li>
        Currency: {{ current.currency }}
      </li>

      <li>
        Amount: {{ current.amount }}
      </li>


      {% if current.can_edit == 1 %}
        <li> Available operations:

          <ul>
            {% if current.is_owner == 1 %}
            <li>
              <a href="{% url 'current_share' current.id %}">
                Share {{ current.id }} - {{ current.name }}
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'current_edit' current.id %}">
                Edit {{ current.id }} - {{ current.name }}
              </a>
            </li>

            <li>
              <a href="{% url 'current_delete' current.id %}">
                Delete {{ current.id }} - {{ current.name }}
              </a>

            </li>
          </ul>

        </li>
      {% endif %}

    {% endfor %}


  </ul>


{% endblock content %}