{% extends "base.html" %}
{% load static %}

{% block title %}Current - {{ current.name }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/detailed_page.css' %}" type="text/css">
 <script>
$(function() {
   let instance_id = window.location.href.split('/')[4];
    let instance = window.location.href.split('/')[3];
$.when(
    $.getJSON(window.location.origin + `/api/v1/${instance}/${instance_id}/transaction/get`)
).done( function(json) {
  var json_keys = Object.keys(json);
  if  (json_keys.length < 1){ 
    htmlCode = emptyJson();
    formedTable = makeEmptyTable(htmlCode);
   }
  else if (json[json_keys.length-1].owner_id != json[json_keys.length-1].user_id ){
    htmlCode = showTransactions(json);
    formedTable = makeNotOwnerTable(htmlCode);
  }
  else { 
    htmlCode = showTransactions(json);
    formedTable = makeTable(htmlCode);
  }
  })
  });
$(function() {
    get_share_list();});

</script>

  <div class="row">

    <!-- DETAIL BEGIN -->

    <div class="col-md-5 col-sm-12">
      <h3 class="current-header">Detailed information about current</h3>

      <div class="detail-container">

        <div class="row">
          <div class="col-4">
            <span class=" detail-page-icon {{ current.css }}" id="detail-current-css"></span>
          </div>

          <div class="col-8">

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Name:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-name">{{ current.name }}</span>
                </strong>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Amount:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-amount">{{ current.amount }}</span>
                  {{ current.currency }}
                </strong>
              </div>
            </div>
            <hr>

            <button value="delete" id="popup-delete">Delete current</button>

            {% if current.can_edit == 1 %}
              <button id="editCurrent" name="edit">Edit current</button>
            {% endif %}

          </div>

        </div>

      </div>

      <!-- SHARING BEGIN -->
      {% if current.owner_id == user_id %}
        <h3 class="current-header">Sharing</h3>

        <div class="detail-container">

          <div class="row">

            <form id="share"> {% csrf_token %}

              Email: <input type="text" name="email">
              Can edit: <input type="checkbox" name="can_edit">
              <input type='button' class="share_button" value="Share" onclick="share()">
              <div id="Log_div"></div>
              <div id="Error_div"></div>
            </form>

            <div class="col-11" id="ShareContainer">

            </div>

          </div>
        </div>

      {% endif %}
      <!-- SHARING END -->

    </div>

    <!-- DETAIL END -->

    <!-- TRANSACTIONS BEGIN -->
    <div class="col-md-7 col-sm-12">
      <h3 class="current-header">History of transactions</h3>
      <div class="detail-container" style="">
        <table id="transactionTable" class="display" cellspacing="0" width="100%">

        </table>

      </div>
    </div>
  </div>
  <!-- TRANSACTIONS END -->


  {# MODAL WINDOW FOR CURRENT DELETE #}
  <div class="bg-modal-detailed-page" id="current-delete-container">
    <div class="container-input container-width-450">
      <div class="btn-group-lg d-flex justify-content-between">
        <h2>Delete Current</h2>
        <button type="cancel" id="cancel-delete" class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
      </div>

      <form id="current-delete-form">
        {% csrf_token %}
        <p id="js_validation_error">
          Can't delete this current.
          Please try again later.
        </p>
        <div class="row justify-content-center">
          <div class="col-4">
            <span class=" detail-page-icon {{ current.css }}" id="detail-current-css"></span>
          </div>

          <div class="col-8">
            <br>
            <div class="row">

              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Name:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-name">{{ current.name }}</span>
                </strong>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Amount:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-amount">{{ current.amount }}</span>
                  {{ current.currency }}
                </strong>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <br>
        <div class="btn-group-lg d-flex justify-content-end">
          <button type="submit" class="btn login-submit">Delete</button>
        </div>

      </form>

    </div>

  </div>

  <script type="text/javascript">
    function share() {
      let inputs = {};
      let current_id = window.location.href.split('/')[4];
      let url_text = window.location.origin + '/api/v1/current/' + current_id + '/share';
      $("#share").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });
      $.ajax({
        type: 'POST',
        url: url_text,
        data: inputs,
        success: function (response) {
          console.log(response);
          document.getElementById("Log_div").innerHTML = response;
          document.getElementById("Error_div").innerHTML = '';
          get_share_list();
        },
        error: function (error) {
          document.getElementById("Log_div").innerHTML = '';
          document.getElementById("Error_div").innerHTML = error.responseText;
          console.log(error);
        },
      });
    }

    function unshare(id) {
      let current_id = window.location.href.split('/')[4];
      let url_text = window.location.origin + '/api/v1/current/' + current_id + '/unshare/' + id;
      console.log(url_text);
      $.ajax(
        {
          type: "DELETE",
          url: url_text,
          data: {},
          success: function (response) {
            console.log(response);
            document.getElementById("Log_div").innerHTML = response;
            document.getElementById("Error_div").innerHTML = '';
            get_share_list();
          },
          error(response) {
            console.error(error);
            document.getElementById("Log_div").innerHTML = '';
            document.getElementById("Error_div").innerHTML = error.responseText;
          }
        })
    }

    function get_share_list() {
      let current_id = window.location.href.split('/')[4];
      $.when(
          $.getJSON(window.location.origin + `/api/v1/current/${current_id}/share/get`)
      ).done( function(json) {
      var json_keys = Object.keys(json);
      if (json_keys.length < 1){
          console.log('None');
          share_list = {};
          document.getElementById("ShareContainer").innerHTML = '';
      }
      else {
          console.log(json)
          var sting_to_add = '';
          for(i=0;i<json_keys.length;i++){
            sting_to_add += '<form id="unshare_form", class="share_list">\
                             ' + json[i].email + '\
                             <button id="Unshare_button", type="button", \
                             onclick="unshare(' + json[i].user_id + ')"> <i class="fas fa-times"></i> </button>\
                             </form>\
                             <hr>'

          document.getElementById("ShareContainer").innerHTML = sting_to_add;
          }
      }
      })
      }
    // POP UP WINDOW FOR DELETE CURRENT
    $(document).on('click', '#popup-delete', function (e) {
       $("#current-delete-container").css("display", "flex");
    });

    // CLOSE DELETE MODAL WINDOW AFTER CANCEL
    $(document).on('click', '#cancel-delete', function (e) {
      $("#current-delete-container").css("display", "None");
    });

    // AJAX DELETE CURRENT REQUEST
    $(document).on('submit', '#current-delete-form', function (e) {
      e.preventDefault();
      let inputs = {};
      $("#current-delete-form").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });
      $.ajax({
        type: "DELETE",
        url: "/api/v1/current/{{ current.id }}/delete/",
        data: inputs,
        success: function (response) {
          console.log(response);
          location.href = "{% url 'moneta-home' %}";
        },
        error: function (error) {
          console.error(error);
          $("#js_validation_error").css("display", "block");
        },
      });
    });


  </script>

{% endblock content %}