{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <h3>Current share list</h3>
  <form method="POST"> {%csrf_token %}
        {{ form|crispy }}
        <input type="checkbox" name="can_edit"> can edit</input>
        <input  type="submit"  value="Submit">
  </form>

  <ul>
    {% for current in current_list %}
      <li>
        email: {{ current.email }} 
        <form method='POST'>
	        {% csrf_token %}
			<button type='submit' value={{current.user_id}} name="cancel_share_id">cancel share</button>
    	</form>
      </li>

    {% endfor %}
  </ul>


{% endblock content %}