{% extends "base.html" %}

{% block content %}


  <h2>Current list</h2>

  <ul>
    {% for current in current_list %}
      <li>
        <a href="{% url 'current_detail' current.current_id %}">
          {{ current.current_id }} - {{ current.name }}
        </a>
        <a href="{% url 'current_detail' current.current_id %}">
          <p><span class="{{ current.image_css }} icon_format"></span></p>
        </a>
      </li>
      {% if current.can_edit == 1 %}
        <ul>
          <li>Share</li>
          <li>
            <a href="{% url 'current_edit' current.current_id %}">
              Edit {{ current.current_id }} - {{ current.name }}
            </a>
          </li>
          <li>
            <a href="{% url 'current_delete' current.current_id %}?next={{ request.path }}">
              Delete {{ current.current_id }} - {{ current.name }}
            </a>
          </li>
        </ul>
      {% endif %}

    {% endfor %}


  </ul>


{% endblock content %}