{% load static %}

<div class="content-wrapper">
  <div class="container-input container-width">
    <h1>Do you really want to delete this Current?</h1>

    <form action="" method="POST" id="current-delete-form">
      {% csrf_token %}
      <p id="js_validation_error">
        Can't delete this current.
        Please try afain later.
      </p>
      <h6 class="statistic-form-h6">
        Name: <strong>{{ current.name }}</strong>
      </h6>
      <h6 class="statistic-form-h6">
        Amount: <strong>{{ current.amount }} {{ current.currency }}</strong>
      </h6>

      <div class="icon_flex">
        <h6 class="statistic-form-h6">
          Icon: <span class="{{ current.css }} icon_format"></span>
        </h6>
      </div>

      <button type="submit">Yes, delete</button>

    </form>
    <form id="cancel-delete">
      <button name="cancel">Cancel</button>
    </form>
  </div>

</div>


<div class="bg-modal" id="modal-delete">
  <div class="modal-content">
    <img src="{% static 'images/income/dollar.svg' %}" alt="">
    <h2>Your current was successfully deleted</h2>

    <a href="{% url 'moneta-home' %}">
      <button>OK</button>
    </a>

  </div>
</div>
