{% extends "base.html" %}
{% load static %}


{% block content %}


  <h2>Current detail</h2>

  <ul>

    <li>
      <a href="{% url 'current_detail' current.id %}">
        {{ current.id }} - {{ current.name }}
      </a>
      <a href="{% url 'current_detail' current.id %}">
        <p><span class="{{ current.css }} icon_format"></span></p>
      </a>
    </li>

    <li>
      Name: {{ current.name }}
    </li>

    <li>
      Currency: {{ current.currency }}
    </li>

    <li>
      Amount: {{ current.amount }}
    </li>

    {% if current.can_edit == 1 %}
      <li> Available operations:

        <ul>
          {% if current.is_owner == 1 %}
            <li>
              <a href="{% url 'current_share' current.id %}">
                Share {{ current.id }} - {{ current.name }}
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{% url 'current_edit' current.id %}">
              Edit {{ current.id }} - {{ current.name }}
            </a>
          </li>
          <li>
            <a href="{% url 'current_delete' current.id %}?next={{ request.path }}">
              Delete {{ current.id }} - {{ current.name }}
            </a>
          </li>
        </ul>

      </li>
    {% endif %}
  </ul>

  <a href="{% url 'current_list' %}">
    Current list
  </a>


{% endblock content %}