{% extends "base.html" %}

{% block content %}

    <div class="login-card">
        <h1>Log-in</h1>
        <p class="msg">{{ msg_activation }}</p>
        <p class="msg">{{ err }}</p>

        <form method="POST">
            {% csrf_token %}

            {% if email %}
                <input type="email" name="email" required id="id_email" value="{{ form.email.value }}"
                       placeholder="Email">
            {% else %}
                <input type="email" name="email" required id="id_email" value="" placeholder="Email">
            {% endif %}
            {{ form.email.errors }}

            <input type="password" name="password" required id="id_password" placeholder="Password">
            <span onclick="eye()" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            {{ form.password.errors }}

            <input class="login login-submit" type="submit" value="Log in"/>
            <div class="login-help">
                <a href="../forgot_password/">Lost your password? </a>
                <a href="/registration">Register</a>
            </div>
        </form>

    </div>
    <script>
        function eye() {
            let x = document.getElementById("id_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock content %}
