{% extends "base.html" %}
{% block content %}
    {% load static %}
    <title>Moneta home</title>
    <div class="instance-container">
        <div class="header-group-item">
            <span>Income</span>
            <a id="addIncome" class="add-icon" title='add new income'></a>
        </div>
        <div class="items">
            {% for income in income_list %}
                <div class="item">
                    <a href="{% url 'income_detail' income.id %}">
                        <div>
                            <span>{{ income.name }}</span>
                            <span name="income" class="{{ income.css }} menu_icon_format drag_item"
                                  value="{{ income }}"
                                  title="{{ income.css }}" draggable="true">
                                </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="instance-container">
        <div class="header-group-item">
            <span>Current</span>
            <a id="addCurrent" class="add-icon" title='add new current'></a>
        </div>
        <div class="items">
            {% for current in current_list %}
                <div class="item">
                    <a href="{% url 'current_detail' current.id %}">
                      <div>
                        <span>{{ current.name }}</span>
                            <span name="current" class="{{ current.css }} menu_icon_format drag_item"
                                  value="{{ current }}"
                                  title="{{ current.css }}"
                                  draggable="true"></span>
                        <span class="amount-currency-size">{{ current.amount }} {{ current.currency }}</span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="instance-container">
        <div class="header-group-item">
            <span>Expend</span>
            <a class="add-icon" id='addExpend' title='add new expend'></a>
        </div>
        <div class="items">
            {% for expend in expend_list %}
                <div class="item">
                     <a href="{% url 'expend_detailed' expend.id %}">
                        <div>
                            <span>{{ expend.name }}</span>
                                <span 
                                    name="expend"
                                    class="{{ expend.css }} menu_icon_format drag_item"
                                    value="{{ expend }}"
                                    title="{{ expend.css }}"
                                    draggable="true">
                                </span>
                            <span>{{ expend.amount }} {{ expend.currency }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
    </script>
    <script src={% static "js/transactions.js" %}></script>
    <script src={% static "js/form.js" %}></script>

{% endblock content %}
