{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>
<body>
<center>
    <h1><strong>Sign up</strong></h1><br><br>
    <form method="post">
        {% if messages %}
        <ul>
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

            <h2 id="message_success"> {{ message }}</h2>
            <br>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <h2 id="message_error">{{ message }}</h2><br>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
        <a href="/login">Login</a>
    </form>
</center>
</body>
</html>

{% endblock %}