{% extends "base.html" %}
{% load static %}

{% block title %}Current - {{ current.name }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/detailed_page.css' %}" type="text/css">
  <script>
    $(function () {
      let current_id = window.location.href.split('/')[4];
      $.when(
        $.getJSON(window.location.origin + `/api/v1/current/${current_id}/transaction/get`)
      ).done(function (json) {
        console.log(json);
        var json_keys = Object.keys(json);
        if (json_keys.length < 1) {
          htmlCode = emptyJson();
          formedTable = makeEmptyTable(htmlCode);
        }
        else {
          htmlCode = showTransactions(json);
          formedTable = makeTable(htmlCode);
        }
      })
    });
  </script>
  <div class="row">

     <!-- DETAIL BEGIN -->

    <div class="col-md-5 col-sm-12">
      <h3 class="current-header">Detailed information about expend</h3>

      <div class="detail-container">

        <div class="row">
          <div class="col-4">
            <span class=" detail-page-icon {{ expend_detailed.image_id }}" id="detail-current-css"></span>
          </div>

          <div class="col-8">

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Name:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-name">{{ expend_detailed.name }}</span>
                </strong>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Amount:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-amount">{{ expend_detailed.amount }}</span>
                  {{ expend_detailed.currency }}
                </strong>
              </div>
            </div>
            <hr>

            <button value="delete" id="popup-delete">Delete expend</button>

            {% if expend_detailed.can_edit == 1 %}
              <button id="editExpend" name="edit">Edit expend</button>
            {% endif %}

          </div>

        </div>

      </div>

      <!-- SHARING BEGIN -->
      {% if current.owner_id == user_id %}
        <h3 class="current-header">Sharing</h3>

        <div class="detail-container">

          <div class="row">

            <form id="share"> {% csrf_token %}

              Email:<input type="text" name="email">
              Can edit: <input type="checkbox" name="can_edit">
              <input type='button' value="Share" onclick="share()">
            </form>

          </div>


        </div>
      {% endif %}
      <!-- SHARING END -->

    </div>

    <!-- DETAIL END -->

    <!-- TRANSACTIONS BEGIN -->
    <div class="col-md-7 col-sm-12">
      <h3 class="current-header">History of transactions</h3>
      <div class="detail-container" style="">
        <table id="transactionTable" class="display" cellspacing="0" width="100%">

        </table>

      </div>
    </div>
  </div>
  <!-- TRANSACTIONS END -->


  {# MODAL WINDOW FOR EXPEND DELETE #}
  <div class="bg-modal-detailed-page" id="expend-delete-container">
    <div class="container-input container-width-450">
      <div class="btn-group-lg d-flex justify-content-between">
        <h2>Delete Expend</h2>
        <button type="cancel" id="cancel-delete" class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
      </div>

      <form id="expend-delete-form">
        {% csrf_token %}
        <p id="js_validation_error">
          Can't delete this Expend.
          Please try again later.
        </p>
        <div class="row justify-content-center">
          <div class="col-4">
            <span class=" detail-page-icon {{ expend_detailed.image_id }}" id="detail-current-css"></span>
          </div>

          <div class="col-8">
            <br>
            <div class="row">

              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Name:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-name">{{ expend_detailed.name }}</span>
                </strong>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Amount:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-amount">{{ expend_detailed.amount }}</span>
                  {{ expend_detailed.currency }}
                </strong>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <br>
        <div class="btn-group-lg d-flex justify-content-end">
          <button type="submit" class="btn login-submit">Delete</button>
        </div>

      </form>

    </div>

  </div>

  <script type="text/javascript">
    // POP UP WINDOW FOR DELETE
    $(document).on('click', '#popup-delete', function (e) {
       $("#expend-delete-container").css("display", "flex");
    });

    // CLOSE DELETE MODAL WINDOW AFTER CANCEL
    $(document).on('click', '#cancel-delete', function (e) {
      $("#expend-delete-container").css("display", "None");
    });

    // AJAX DELETE REQUEST
    $(document).on('submit', '#expend-delete-form', function (e) {
      e.preventDefault();
      let inputs = {};
      $("#expend-delete-form").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });
      $.ajax({
        type: "DELETE",
        url: "/api/v1/expend/{{ expend_detailed.id }}/delete/",
        data: inputs,
        success: function (response) {
          console.log(response);
          location.href = "{% url 'moneta-home' %}";
        },
        error: function (error) {
          console.error(error);
          $("#js_validation_error").css("display", "block");
        },
      });
    });



    // POP UP WINDOW FOR SHARE CURRENT
    $(document).on('submit', '#popup-share', function (e) {
      e.preventDefault();
      $.ajax(
        {
          type: "GET",
          datatype: "html",
          url: window.location.href + "share/",
          data: {},
          success: function (response) {
            $('#current-share-container').html(response);
          },
          error(error) {
            console.error(error);
          }
        });
      document.querySelector('#current-share-container').style.display = 'flex';
    });


    // AJAX SHARE CURRENT FUNCTIONS
    function share() {
      let inputs = {};
      $("#share").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });
      $.ajax({
        type: 'POST',
        url: window.location.href + "share/",
        data: inputs,
        success: function (response) {
          console.log(response);
          $('#current-share-container').html(response);

        },
        error: function (error) {
          console.error("Error with sharing");
          console.error(error);
        },
      });
    }

    function unshare(id) {
      console.log(id);
      $.ajax(
        {
          type: "POST",
          url: window.location.href + "unshare/",
          data: {
            cancel_share_id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (response) {
            console.info(response);
            $('#current-share-container').html(response);
          },
          error(error) {
            console.error(error);
          }
        })
    }

  </script>

{% endblock content %}