<form action="" method="post">
    {% csrf_token %}
    <h4>Please input name for your expend: {{ form.name }}</h4>
    <div>
        <h4>Please choose currency from below:</h4>
        <div class="icon_flex">
            <ul>
                {% for choice in form.currency.field.choices %}
                <li>
                    <input type="radio"
                           name="{{ form.currency.name }}"
                           value="{{ choice }}"
                        {% ifequal form.currency.data choice %} 
                            checked="checked"
                        {% endifequal %}/>
                    <label for="">{{choice}}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h4>Set amount: {{ form.amount }}</h4>
    <div>
        <h4>Please choose image for your expend from below:</h4>
        <div class="icon_flex">
            <ul>
                {% for choice in form.image.field.choices %}
                <div>

                    <label for="id_{{ form.image.html_name }}_{{ forloop.counter0 }}">
                    <input type="radio"
                     id="id_{{ form.image.html_name }}_{{ forloop.counter0 }}"
                     value="{{ choice.0 }}"
                     name="{{ form.image.html_name }}"/>
              <span class="{{ choice.1 }} icon_format"></span>
            </label>

                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>


