{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $("#resetPassword").validate({
                    rules: {
                        email:{
                            required:true,
                            email:true
                        }
                    }
                });
            });
            function changePassword(emails_list) {
                if($('#resetPassword').valid()){
                    console.log(emails_list);
                    let inputs = {};
                    $("#resetPassword").serializeArray().forEach(function (element) {
                        inputs[element.name] = element.value;
                    });
                    user_email = inputs["email"];
                    if (emails_list.includes(user_email)){
                        console.log(user_email);
                        $.ajax(
                            {
                                type: "PUT",
                                url: window.location.href + "changed/",
                                data: inputs,
                                success: function (response) {
                                    console.info(response);
                                },
                                error(error) {
                                    console.error(error);
                                }
                            });
                        $("#successEmail").modal();
                        $("#text-warning").text("");
                        setTimeout(function() {
                            $("#successEmail").modal("hide");
                            location.href = "{% url 'moneta-home' %}";
                        }, 3000);
                    }
                    else {
                        $("#text-warning").text("User doesn't exist");
                    }}}
        </script>
    <title> Forgot password </title>
    </head>
    <body>
        <div class=" login-card " style = "margin: 0 auto; width: 300px">
            <div style="display: flex;justify-content: center;align-items: center;margin:7px">
                <i class="fa fa-lock fa-4x"></i>
                <div  style="padding: 5px">
                    <p style="margin-bottom: 0px;">Forgot Password?</p>
                    <p style="margin-bottom: 0px;"> You can reset your password here.</p>
                </div>
            </div>
            <form id="resetPassword">
                <input  type="email" placeholder="Email"  name="email" id="resetEmail" >
                <div id="text-warning" class="error"></div>
                <input  type="button" class="login login-submit " style="width: 100%" onclick="changePassword({{ user_emails }})"  value="Recover">
            </form>
        </div>

    <div class="modal" id="successEmail">
        <div class="modal-dialog">
            <div class="modal-content" style="align-items: center;" >
                    <p>  Check your email, you've got a new password. </p>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}
