{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $("#resetPassword").validate({
                    rules: {
                        email:{
                            required:true,
                            email:true
                        }
                    }
                });

            });
            function changePassword(emails_list) {
                if($('#resetPassword').valid()){
                    console.log(emails_list);
                    let inputs = {};
                    $("#resetPassword").serializeArray().forEach(function (element) {
                        inputs[element.name] = element.value;
                    });
                    user_email = inputs["email"];
                    if (emails_list.includes(user_email)){
                        console.log(user_email);
                        $.ajax(
                            {
                                type: "PUT",
                                url: window.location.href + "changed/",
                                data: inputs,
                                success: function (response) {
                                    console.info(response);
                                },
                                error(error) {
                                    console.error(error);
                                }
                            });
                        $("#successEmail").modal();
                        $("#text-warning").text("");
                        setTimeout(function() {
                            $("#successEmail").modal("hide");
                            location.href = "{% url 'moneta-home' %}";
                        }, 5000);
                    }
                    else {
                        $("#text-warning").text("User doesn't exist");
                    }}}
        </script>
    <title> Forgot password </title>
    </head>
    <body>
    <div class="container" >
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                    <form id="resetPassword">
                        <div class="form-group">
                            <input  type="email" placeholder="Enter email" class="form-control" name="email" id="resetEmail" >
                        </div>
                        <div id="text-warning" class="error"></div>
                        <input  type="button" class="btn btn-primary" onclick="changePassword({{ user_emails }})"  value="Recover">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="successEmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>  Check your email, you've got a new password. </p>
                </div>
            </div>
        </div>
    </div>

    </body>

{% endblock content %}
