{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
      <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}" type="text/css">
    <script>
        function changePassword(emails_list) {
            console.log(emails_list);
            let inputs = {};
            $("#resetPassword").serializeArray().forEach(function (element) {
                        inputs[element.name] = element.value;
                    });
            user_email = inputs["email"];
            console.log(user_email);
           if (emails_list.includes(user_email)){
                 $.ajax(
                        {
                            type: "PUT",
                            url: window.location.href + "changed/",
                            data: inputs,
                            success: function (response) {
                                console.info(response);
                            },
                            error(error) {
                                console.error(error);
                            }
                        });
                 $("#successEmail").css("display", "flex");
           }
           else {
               $("#notValidEmail").css("display", "flex");
           }
        }
        function closeWindow() {
             $("#notValidEmail").css("display", "none");
            $("#resetEmail").val("");
        }

    </script>
    <title> Forgot password </title>
</head>
<body>
<div class="container-input">
    <h1>  Please, write your email </h1>
    <form id="resetPassword">
        <p> Email: </p>
        <input  type="text" name="email" id="resetEmail" >
        <input  type="button" onclick="changePassword({{ user_emails }})" value="Change password">
    </form>
    <p> You'll get a letter with a new password </p>
</div>

<div class="container-message" id="notValidEmail">
    <div class="success-message">
        <h1>User doesn't exist.</h1>
        <input type="button" id="closeWindow" onclick="closeWindow()" value="Cancel">
    </div>
</div>

<div class="container-message" id="successEmail">
    <div class="success-message">
        <h1>Check your mail, you'll have a new password.</h1>
        <a href="{% url 'login' %}"> Login </a>
    </div>
</div>
</body>

{% endblock content %}
