{% extends "base.html" %}
{% load static %}

{% block title %}Statistic{% endblock %}

{% block content %}

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">

  <div class="row">

    <!-- ---- SIDEBAR ---- -->

    <div class="col-md-3 col-sm-12">
      <div class="container-input">
        <form method="post" id="statistic_form">

          {% csrf_token %}
          {{ form.statistic_date.errors }}
          <h6 class="statistic-form-h6">
            <strong>Please select the period:</strong>
          </h6>

          <p id="js_validation_error">
            Please choose a correct period.
            End of a period should be bigger than a begin.
          </p>

          {% for field in form.visible_fields %}
            <div class="statistic-container-wrapper">
              <div class="statistic-container">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
              </div>
            </div>
          {% endfor %}

          <button type="submit">Submit</button>
        </form>
        <br>
      </div>
    </div>
    <!-- ---- END SIDEBAR ---- -->


    <!-- ---- STATISTIC INFORMATION ---- -->
    {% if not form.non_field_errors %}

      <div class="col-md-9 col-sm-12">
        <!-- ---- MONTH STATISTIC ---- -->
        {#        <div class="row">#}

        <h3 class="statistic-header">Statistic for
          <span id="js-month-date">
            {{ statistic_data.date_for_output.month }}
            {{ statistic_data.date_for_output.year }}
          </span>
        </h3>
        {#        </div>#}

        <div class="row">
          <div class="col-12 col-md-6" id="plotly_month_inc">
            {% if not statistic_data.month_inc_total_sum %}
              <br>
              <h5>No transactions during this period.</h5>
            {% endif %}
          </div>

          <div class="col-12 col-md-6" id="plotly_month_exp">
            {% if not statistic_data.month_exp_total_sum %}
              <br>
              <h5>No transactions during this period.</h5>
            {% endif %}
          </div>
        </div>
        <!-- ---- END MONTH STATISTIC ---- -->

        <!-- ---- YEAR STATISTIC ---- -->
        <h3 class="statistic-header" id="plotly_year">Statistic for
          <span id="js-year-date">
             {{ statistic_data.date_for_output.year }}
          </span>
          year
        </h3>

        <div class="row">
          <div class="col-12 col-md-6" id="plotly_year_inc">
            {% if not statistic_data.year_inc_total_sum %}
              <br>
              <h5>No transactions during this period.</h5>
            {% endif %}
          </div>

          <div class="col-12 col-md-6" id="plotly_year_exp">
            {% if not statistic_data.year_exp_total_sum %}
              <br>
              <h5>No transactions during this period.</h5>
            {% endif %}
          </div>

        </div>
        <!-- ---- END YEAR STATISTIC ---- -->

      </div>

    {% endif %}
  </div>

  <!-- ---- END STATISTIC INFORMATION ---- -->



  <!-- ---- JAVA SCRIPT ---- -->

  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
  <!-- JQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    // JQuery UI Datepicker

    var today = new Date();

    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0

    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    }
    if (mm < 10) {
      mm = '0' + mm;
    }
    var todayFormatted = yyyy + '-' + mm + '-' + dd;

    $(function () {
      $("#id_period_begin").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#id_period_begin").datepicker("setDate", todayFormatted);
    });

    $(function () {
      $("#id_period_end").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#id_period_end").datepicker("setDate", todayFormatted);

    });


    // Diagram for month income

    var data_month_inc = [{
      values: [
        {% for transaction in statistic_data.month_inc_trans %}
          {{ transaction.income_sum|floatformat:2 }},
        {% endfor %}
      ],

      labels: [
        {% for transaction in statistic_data.month_inc_trans %}
          "{{ transaction.name }}".concat(
            " - {{ transaction.income_sum|floatformat:2 }}"
          ),
        {% endfor %}
      ],
      name: "{{ statistic_data.month_inc_total_sum.currency }}",
      hoverinfo: 'label+percent+name',
      hole: .5,
      type: 'pie'
    }];

    var layout_month_inc = {
      title: "<b>Income transactions</b> <br /> {{ statistic_data.month_inc_total_sum.currency }}",
      titlefont: {
        size: 20,
      },
      autosize: true,
      annotations: [
        {
          font: {
            size: 18
          },
          showarrow: false,
          text: 'Total Income:<br \/> {{ statistic_data.month_inc_total_sum.inc_total_sum|floatformat:2 }}',
          x: 0.5,
          y: 0.5
        },
      ],
      height: 450,
      width: 450,
      showlegend: true,
      legend: {"orientation": "h", y: 0},

      margin: {
        l: 0, //left margin
        r: 0, //right margin
      }
    };

    {% if statistic_data.month_inc_total_sum %}
      Plotly.newPlot(
        'plotly_month_inc', data_month_inc, layout_month_inc, {responsive: true}
      );
    {% endif %}



    // Diagram for month expend

    var data_month_exp = [{
      values: [
        {% for transaction in statistic_data.month_exp_trans %}
          {{ transaction.expend_sum|floatformat:2 }},
        {% endfor %}
      ],

      labels: [
        {% for transaction in statistic_data.month_exp_trans %}
          "{{ transaction.name }}".concat(
            " - {{ transaction.expend_sum|floatformat:2 }}"
          ),
        {% endfor %}
      ],
      name: "{{ statistic_data.month_exp_total_sum.currency }}",
      hoverinfo: 'label+percent+name',
      hole: .5,
      type: 'pie'
    }];

    var layout_month_exp = {
      title: "<b>Expend transactions</b> <br /> {{ statistic_data.month_exp_total_sum.currency }}",
      "titlefont": {
        "size": 20,
      },
      autosize: true,
      annotations: [
        {
          font: {
            size: 18
          },
          showarrow: false,
          text: 'Total Expend:<br \/> {{ statistic_data.month_exp_total_sum.exp_total_sum|floatformat:2 }}',
          x: 0.5,
          y: 0.5
        },
      ],
      height: 450,
      width: 450,
      showlegend: true,
      legend: {"orientation": "h", y: 0},

      margin: {
        l: 0, //left margin
        r: 0, //right margin
      }
    };

    {% if statistic_data.month_exp_total_sum %}
      Plotly.newPlot(
        'plotly_month_exp', data_month_exp, layout_month_exp, {responsive: true}
      );
    {% endif %}



    // Diagram for year income

    var data_year_inc = [{
      values: [
        {% for transaction in statistic_data.year_inc_trans %}
          {{ transaction.income_sum|floatformat:2 }},
        {% endfor %}
      ],

      labels: [
        {% for transaction in statistic_data.year_inc_trans %}
          "{{ transaction.name }}".concat(
            " - {{ transaction.income_sum|floatformat:2 }}"
          ),
        {% endfor %}
      ],
      name: "{{ statistic_data.year_inc_total_sum.currency }}",
      hoverinfo: 'label+percent+name',
      hole: .5,
      type: 'pie'
    }];

    var layout_year_inc = {
      title: "<b>Income transactions</b> <br /> {{ statistic_data.year_inc_total_sum.currency }}",
      "titlefont": {
        "size": 20,
      },
      autosize: true,
      annotations: [
        {
          font: {
            size: 18
          },
          showarrow: false,
          text: 'Total income:<br \/> {{ statistic_data.year_inc_total_sum.inc_total_sum|floatformat:2 }}',
          x: 0.5,
          y: 0.5
        },
      ],
      height: 450,
      width: 450,
      showlegend: true,
      legend: {"orientation": "h", y: 0},

      margin: {
        l: 0, //left margin
        r: 0, //right margin
      }
    };

    {% if statistic_data.year_inc_total_sum %}
      Plotly.newPlot(
        'plotly_year_inc', data_year_inc, layout_year_inc, {responsive: true}
      );
    {% endif %}



    // Diagram for year expend

    var data_year_exp = [{
      values: [
        {% for transaction in statistic_data.year_exp_trans %}
          {{ transaction.expend_sum|floatformat:2 }},
        {% endfor %}
      ],

      labels: [
        {% for transaction in statistic_data.year_exp_trans %}
          "{{ transaction.name }}".concat(
            " - {{ transaction.expend_sum|floatformat:2 }}"
          ),
        {% endfor %}
      ],
      name: "{{ statistic_data.year_exp_total_sum.currency }}",
      hoverinfo: 'label+percent+name',
      hole: .5,
      type: 'pie'
    }];

    var layout_year_exp = {
      title: "<b>Expend transactions</b> <br /> {{ statistic_data.year_exp_total_sum.currency }}",
      "titlefont": {
        "size": 20,
      },
      autosize: true,
      annotations: [
        {
          font: {
            size: 18
          },
          showarrow: false,
          text: 'Total Expend:<br \/> {{ statistic_data.year_exp_total_sum.exp_total_sum|floatformat:2 }}',
          x: 0.5,
          y: 0.5
        },
      ],
      height: 450,
      width: 450,
      showlegend: true,
      legend: {"orientation": "h", y: 0},

      margin: {
        l: 0, //left margin
        r: 0, //right margin
      }
    };

    {% if statistic_data.year_exp_total_sum %}
      Plotly.newPlot(
        'plotly_year_exp', data_year_exp, layout_year_exp, {responsive: true}
      );
    {% endif %}



    // build diagrams after AJAX request

    function buildNewDiagrams(js_st_data) {

      js_st_data = js_st_data.statistic_data;


      // AJAX Diagram

      var js_month_date = $("#js-month-date");
      js_month_date.empty();

      $("#plotly_year").remove();
      $("#plotly_year_inc").empty();
      $("#plotly_year_exp").empty();

      js_month_date.text(
        js_st_data.period_begin + " - " +
        js_st_data.period_end
      );


      // AJAX Diagram for income
      var plotly_month_inc_div = $("#plotly_month_inc");
      plotly_month_inc_div.empty();

      if (!js_st_data.inc_total_sum) {
        plotly_month_inc_div.append(
          "<br><h5>No transactions during this period.</h5>"
        );
      } else {

        data_month_inc[0].values = [];
        data_month_inc[0].labels = [];
        for (i in js_st_data.inc_trans) {
          data_month_inc[0].values.push(
            js_st_data.inc_trans[i].income_sum.toFixed(2)
          );
          data_month_inc[0].labels.push(
            js_st_data.inc_trans[i].name.concat(
              " - ", js_st_data.inc_trans[i].income_sum.toFixed(2)
            )
          );
        }

        layout_month_inc.annotations[0].text = (
          'Total Income:<br \/>'.concat(
            js_st_data.inc_total_sum.inc_total_sum.toFixed(2)
          )
        );

        layout_month_inc.title = "<b>Income transactions</b> <br />" +
          js_st_data.inc_total_sum.currency;
        layout_month_inc.titlefont = {
          size: 20,
        };
        Plotly.newPlot(
          'plotly_month_inc', data_month_inc, layout_month_inc, {responsive: true}
        );

      }


      // AJAX Diagram for expend
      var plotly_month_exp_div = $("#plotly_month_exp");
      plotly_month_exp_div.empty();

      if (!js_st_data.exp_total_sum) {

        plotly_month_exp_div.append(
          "<br><h5>No transactions during this period.</h5>"
        );
      } else {

        data_month_exp[0].values = [];
        data_month_exp[0].labels = [];
        for (i in js_st_data.exp_trans) {
          data_month_exp[0].values.push(
            js_st_data.exp_trans[i].expend_sum.toFixed(2)
          );
          data_month_exp[0].labels.push(
            js_st_data.exp_trans[i].name.concat(
              " - ", js_st_data.exp_trans[i].expend_sum.toFixed(2)
            )
          );
        }
        layout_month_exp.annotations[0].text = (
          'Total Expend:<br \/>'.concat(
            js_st_data.exp_total_sum.exp_total_sum.toFixed(2)
          )
        );
        layout_month_exp.title = "<b>Expend transactions</b> <br />" +
          js_st_data.exp_total_sum.currency;
        layout_month_exp.titlefont = {
          size: 20,
        };
        Plotly.newPlot(
          'plotly_month_exp', data_month_exp, layout_month_exp, {responsive: true}
        );
      }
    }

    // AJAX request

    $(document).on('submit', '#statistic_form', function (e) {
      e.preventDefault();
      let inputs = {};
      $("#statistic_form").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });

      // Validation of input
      if (inputs.period_begin > inputs.period_end) {
        $("#js_validation_error").css("display", "block");
      } else {
        $("#js_validation_error").css("display", "none");
        console.log(inputs);
        $.ajax({
          type: 'POST',
          data: inputs,
          success: function (response) {
            console.log(response);
            buildNewDiagrams(response);
          },
          error: function (error) {
            console.error(error);
            alert('There are some problems with from sending. Please try again.')
          },
        });
      }
    });

  </script>

{% endblock content %}
