{% extends "base.html" %}
{% load static %}

{% block add_income %}

    <form method="post" id="income">
        {% csrf_token %}
        <div>
            <h5>Set name to the income: {{ form.name }}</h5>

            <h5>Set amount to the income: {{ form.amount }}</h5>
            <h5>Set currency for your expend from the list:</h5>
            {{ form.currency }}
            <br>


            <h5>Please choose image from below:</h5>

            <div id="image_id" class="icon_flex">
                {% for choice in form.image.field.choices %}
                    <label for="id_{{ form.image.html_name }}_{{ forloop.counter0 }}">
                        <input type="radio"
                               id="id_{{ form.image.html_name }}_{{ forloop.counter0 }}"
                               value="{{ choice.0 }}"
                               name="{{ form.image.html_name }}"/>

                        <span class="{{ choice.1 }} icon_format"></span>
                    </label>
                {% endfor %}
            </div>
        </div>
        <input type="submit" value="Save">
{#        <button type="submit">Save</button>#}
    </form>

    <script type="text/javascript">
        $(document).on('submit', '#income', function (e) {
            e.preventDefault();
            const form = document.getElementById("income");
            const image_id = form["image"].value;
            const currency = form["currency"].value;
            const name = form['name'].value;
            const amount = form['amount'].value;
            const csrfmiddlewaretoken = form['csrfmiddlewaretoken'].value;

            $.ajax({
                type: 'POST',
                url: '/add_income/',
                data: {
                    name: name,
                    amount: amount,
                    image: image_id,
                    currency: currency,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                },
                success: function (response){
                    console.log('Success');
                    document.location = '/';

                },
                error: function (error) {
                    console.error(error);
                    alert('form is not valid')
                },
            });
        });
    </script>

{% endblock add_income %}