{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/detailed_page.css' %}" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script>
function deleteWindow(){
    $('#deleteIncomeWindow').css("display","flex");
};

function cancelDelete(){
     document.querySelector('#deleteIncomeWindow').style.display = 'none';
};

$(function() {
    let instance_id = window.location.href.split('/')[4];
    let instance = window.location.href.split('/')[3];
$.when(
    $.getJSON(window.location.origin + `/api/v1/${instance}/${instance_id}/transaction/get`)
).done( function(json) {
  console.log(json)
  var json_keys = Object.keys(json);
  if  (json_keys.length < 1){ 
    htmlCode = emptyJson();
    formedTable = makeEmptyTable(htmlCode);
   }
  else if (json[json_keys.length-1].owner_id != json[json_keys.length-1].user_id ){
    htmlCode = showTransactions(json);
    formedTable = makeNotOwnerTable(htmlCode);
  }

  else { 
    htmlCode = showTransactions(json);
    formedTable = makeTable(htmlCode);
  }
  })
  });

function deleteIncome(){
 $.ajax(
        {
            type:"DELETE",
            url: window.location.href + "delete/",
            success:function (response) {
                console.info(response);
                 document.querySelector('#deleteIncomeWindow').style.display = 'none';
                 location.href = "{% url 'moneta-home' %}";
            },
            error(error){
                console.error(error);
            }
        })
};
</script> 
<title> Income </title>
</head>

    <body>
  <div class="row">
    <!-- DETAIL BEGIN -->
    <div class="col-md-5 col-sm-12">
      <h3 class="current-header">Detailed information about income</h3>
      <div class="detail-container">
        <div class="row">
          <div class="col-4">
            <span class=" detail-page-icon {{ income_info.css }}" id="detail-current-css"></span>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Name:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-name">{{ income_info.name }}</span>
                </strong>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <span class="text-secondary">Currency:</span>
              </div>
              <div class="col-md-8 col-sm-12">
                <strong>
                  <span id="detail-current-amount">{{ income_info.currency }}</span>                  
                </strong>
              </div>
            </div>
            <hr>
            <button onclick="deleteWindow()">Delete income </button>
            <button id="editIncome" name="edit">Edit income</button>
          </div>
        </div>
      </div>
    </div>
    <!-- DETAIL END -->
    <!-- TRANSACTIONS BEGIN -->
    <div class="col-md-7 col-sm-12">
      <h3 class="current-header">History of transactions</h3>
      <div class="detail-container" style="">
        <table id="transactionTable" class="display" cellspacing="0" width="100%">
        
        </table>

      </div>
    </div>
  </div>
    <!-- TRANSACTIONS END -->
  <div class = "bg-modal-detailed-page" id="deleteIncomeWindow">       
  <div class="container-input container-width-350"  >
    <h1>Do you really want to delete this Income?</h1>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <span class="text-secondary">Name:</span>
        </div>
        <div class="col-md-6">
          <strong>
            <span id="detail-current-name">{{ income_info.name }}</span>
          </strong>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <span class="text-secondary">Currency:</span>
        </div>
        <div class="col-md-6">
          <strong>
            <span id="detail-current-name">{{ income_info.currency }}</span>
          </strong>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <span class="text-secondary">Icon:</span>
        </div>
        <div class="col-md-6">
          <span class="{{ income_info.css }} icon-on-delete"></span>
        </div>
      </div>
      <br>
      <button onclick="deleteIncome()">Yes, delete</button>
      <button onclick="cancelDelete()">Cancel</button>
  </div>
</div>
</body>
{% endblock content %}
