{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}" type="text/css">
    <script>
        function getEdit(id){
            $.ajax(
                {
                    type:"POST",
                    data:{income_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success:function (response) {
                        console.info(response);
                    },
                    error(error){
                        console.error(error);
                    }
                })
            location.href = "http://127.0.0.1:8000/income/"+id+"/edit/";
        };
        function getDelete(id){
            $.ajax(
                {
                    type:"POST",
                    data:{income_id: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success:function (response) {
                        console.info(response);
                    },
                    error(error){
                        console.error(error);
                    }
                });
            location.href = "http://127.0.0.1:8000/income/"+id+"/delete/";
        }
    </script>
    <div class="container-input">
        <h1>Income list</h1>
        {% for income in income_list %}
            <p><span class="{{ income.5 }} icon_format"></span></p>
            <p> {{ income.1 }} {{ income.4 }}</p>
            <input type="button" class="edit_button" id="edit_income_button" onclick="getEdit('{{ income.0  }}');" value="Edit" />
            <input id="delete_income_button" type="button" onclick="getDelete('{{ income.0  }}');" value="Delete">
        {% endfor %}
    </div>
{% endblock content %}
