{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}" type="text/css">
     <script>
        function getEdit(id){
           $.ajax(
        {
            type:"POST",
            data:{income_id: id,
                csrfmiddlewaretoken: '{{ csrf_token }}'},
            success:function (response) {
                console.info(response);
            },
            error(error){
                console.error(error);
            }
        })
         location.href = "http://127.0.0.1:8000/income/"+id+"/edit/";
        };

               function getDelete(id){
           $.ajax(
        {
            type:"POST",
            data:{income_id: id,
                csrfmiddlewaretoken: '{{ csrf_token }}'},
            success:function (response) {
                console.info(response);
            },
            error(error){
                console.error(error);
            }
        })
         location.href = "http://127.0.0.1:8000/income/"+id+"/delete/";
        };

    </script>
 <div class="container-for-email">
    <h1>Income list</h1>
        {% for income in income_list %}
                <p> {{ income.1 }} {{ income.2 }} {{ income.4 }}</p>
                <input type="button" class="edit_button" id="edit_income_button" onclick="getEdit('{{ income.0  }}');" value="Edit" />
                 <input id="delete_income_button" type="button" onclick="getDelete('{{ income.0  }}');" value="Delete">
        {% endfor %}
</div>
     <div class="ms-dialog"  id="toDelete">
  <h3>Do you really want to delete this income?</h3>
  <button id="exit">No</button>
       <button id="delete">Yes</button>
</div>

{% endblock content %}