{% extends "base.html" %}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <div class="container-input">
      <h1>Please, edit your income </h1>
    <form id="income_form"> {%csrf_token %}
                 <p>Income name: {{ income_info.1}}.  <br>Please, write new name. </p>
            <input name="name" type="text" >
                  <p> Income amount: {{ income_info.4}}.<br>Please, write new amount. </p>
            <input name="amount" type="text" >
         <input id="editIncomeButton" type="button" value="Edit">
    </form>
    </div>
<script type="text/javascript">
$("#editIncomeButton").click(function () {
    let inputs = {}
    $("#income_form").serializeArray().forEach(function(element){
        inputs[element.name] = element.value;
    });
    console.dir(inputs);
    location.href = "http://127.0.0.1:8000/";
    $.ajax(
        {
            type:"POST",
            data: inputs,
            success:function (response) {
                console.info(response);
            },
            error(error){
                console.error(error);
            }
        })

    }
)
            </script>
{% endblock content %}