{% extends "base.html" %}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}" type="text/css">
    <div class="container-for-email">
      <h1>Please, edit your income </h1>
    <form id="income_form"> {%csrf_token %}
                 <p>Income name: {{ income_info.1}}.  <br> Please, write new name. </p>
            <input name="name" type="text" >
                   <p> Income currency: {{ income_info.2}}.<br>Please, write new currency. </p>
            <input name="currency" type="text" >
                  <p> Income amount: {{ income_info.4}}.<br>Please, write new amount. </p>
            <input name="amount" type="text" >
         <input id="edit_income_button" type="button" value="Edit">
    </form>
    </div>

<script type="text/javascript">
$("#edit_income_button").click(function () {
    let inputs = {}
    $("#income_form").serializeArray().forEach(function(element){
        inputs[element.name] = element.value;
    });
    console.dir(inputs)
    $.ajax(
        {
            type:"POST",
            data: inputs,
            success:function (response) {
                console.info(response);
            },
            error(error){
                console.error(error);
            }
        })
    }
)
            </script>
{% endblock content %}




