<meta charset="utf-8">
<title>Change password</title>


<form id="changePasswordFrm">
    <center>
        <strong><h1>Change password</h1></strong><br>

        <h5 class="us-input">Input your password: </h5>
        <div class="input-field-us">{{ form.old_password }}<i class="fas fa-eye-slash" id="eye1"></i></div>
        <h5 class="us-input">Input new password: </h5>
        <div class="input-field-us">{{ form.new_password }}<i class="fas fa-eye-slash" id="eye2"></i></div>
        <h5 class="us-input" >Confirm your password: </h5>
        <div class="input-field-us">{{ form.confirm_pass }}<i class="fas fa-eye-slash" id="eye3"></i></div>

        <br><br>


        <input class="btn" type="button" onclick="changePassword()" value="Save" id="changePasswordButton">

    </center>
</form>

<script>

$(function(){

  $('#eye1').click(function(){


        if($(this).hasClass('fa-eye-slash')){

          $(this).removeClass('fa-eye-slash');

          $(this).addClass('fa-eye');

          $('#id_old_password').attr('type','text');

        }else{

          $(this).removeClass('fa-eye');

          $(this).addClass('fa-eye-slash');

          $('#id_old_password').attr('type','password');
        }
    });
});

$(function(){

  $('#eye2').click(function(){
  console.log('asa');

        if($(this).hasClass('fa-eye-slash')){

          $(this).removeClass('fa-eye-slash');

          $(this).addClass('fa-eye');

          $('#id_new_password').attr('type','text');

        }else{

          $(this).removeClass('fa-eye');

          $(this).addClass('fa-eye-slash');

          $('#id_new_password').attr('type','password');
        }
    });
});

$(function(){

  $('#eye3').click(function(){
  console.log('asa');

        if($(this).hasClass('fa-eye-slash')){

          $(this).removeClass('fa-eye-slash');

          $(this).addClass('fa-eye');

          $('#id_confirm_pass').attr('type','text');

        }else{

          $(this).removeClass('fa-eye');

          $(this).addClass('fa-eye-slash');

          $('#id_confirm_pass').attr('type','password');
        }
    });
});

</script>


