<meta charset="utf-8">
<title>Change password</title>


<form id="changePasswordFrm">
    <center>
        <strong><h1>Change password</h1></strong><br>

        <h5>Input your password: </h5>
        {{ form.old_password }}
        <h5>Input new password: </h5>
        {{ form.new_password }}
        <h5>Confirm new password: </h5>
        {{ form.confirm_pass }} <br><br>


        <input class="btn" type="button" onclick="changePassword()" value="Save" id="changePasswordButton">

    </center>
</form>

