

<form method="post">
    {% csrf_token %}
    <center>
  <div>
    <div>
        <h2>Change Password</h2>
    </div>
    <div>
        <div>
            <label for="current_password">Current Password</label>
            <div>
                <input type="password" name="current_password">
            </div>
        </div>
        <div>
            <label for="new_password">New Password</label>
            <div>
                <input type="password" name="new_password">
            </div>
        </div>
        <div>
            <label for="confirm_password">Confirm Password</label>
            <div>
                <input type="password" name="confirm_password">
            </div>
        </div>
    </div>
    <div>

        <button href="{% url 'change_password' %}">Close</button>

        <button {{ save_changes }} >Save changes</button>
    </div>
</div></center>
</form>