
    <meta charset="utf-8">
    <title>Delete account</title>


    <form id="delUser">
            <div class="btn-group-lg d-flex justify-content-between">
                    <h2>Delete account</h2>
                     <button type="button" id="cancel_one_level_up_form" class="btn btn-outline-danger"> <i class="fas fa-times"></i> </button>
                </div><br>
                <div>Are you sure? Do you realy want to delete your account?</div><br>
                   
                <div class="btn-group-lg d-flex justify-content-end">
                <button type="button" onclick="deleteUser()" id="deleteUserButton" class="btn login-submit">Yes, delete</button>
            </div>
    </form>





