<form id="userSettingsForm">

  <strong><h1>Settings</h1></strong>

  <hr>

  <div class="row">

    <div class="col-7">

      <div class="row">
        <div class="col-4">
          <span class="text-secondary">Current currency:</span>
        </div>

        <div class="col-8">
          {{ current_currency }}
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-4">
          <span class="text-secondary">Email:</span>
        </div>

        <div class="col-8">
          {{ user_email }}
        </div>
      </div>

      <hr>


    </div>

    <div class="col-5">

      <a id="changePassword"><input class="login-submit setts" type="button" value="Change Password"></a><br>
      <a id="changeCurrency"><input class="login-submit setts" type="button" value="Change Currency"></a><br>
      <a id="deleteUser"><input class="login-submit setts" type="button" value="Delete account"></a>

    </div>

  </div>

  <br>

  <center><input class="login login-submit" type="button" value="Cancel" id="goBack1"></center>

</form>

<script>

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
    if (event.target == 'bg-modal') {
        modal.style.display = "none";
    }
};

// Get the modal for change password

// When the user clicks the button, open the modal
$(document).on('click', '#changePassword', function (e) {
    $.get('change_password/', function (data) {
    $(".modal-content").html(data);
    });

});


function changePassword(){
    let inputs = {};
      $("#changePasswordFrm").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
        console.log(inputs);
        console.log('ne rabotay');
      });

    $.ajax({
        type:'PUT',
        url: 'http://127.0.0.1:8000/' + 'change_password/',
        data : inputs,
        success: function(respons){
            console.log(respons);
            console.log('all ok');
            alert('Password was successfully changed');
        },
        error : function (error) {
            console.error(error);
            console.log('ne ok');
            alert('Something wrong, try one more time');
        },
    });


};

// Get the modal for change currency

// When the user clicks the button, open the modal
$(document).on('click', '#changeCurrency', function (e) {
    $.get("change_currency/", function (data) {
        $(".modal-content").html(data);

    });

})


function changeCurrency(){
    let inputs = {};
      $("#changeCurrencyFrm").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
        console.log('raz');
      });


    $.ajax({
        type:'PUT',
        url: window.location.href.split('/').slice(0, 3).join('/') + '/change_currency/',
        data : inputs,
        success: function(respons){
            console.log(respons);
            console.log('dva');
            alert('Currency was successfully changed');
            document.location = "/";
        },

        error : function (error) {
            console.error(error);
            alert('You didnt select any currency!');
            console.log('tri');
        },
    });

};

// Get the modal for change currency

// When the user clicks the button, open the modal
$(document).on('click', '#deleteUser', function (e) {
    $.get("delete_user/", function (data) {
        $(".modal-content").html(data);

    });

})


function deleteUser(){

    $.ajax({
        type:'DELETE',
        url: window.location.href.split('/').slice(0, 3).join('/') + '/delete_user/',
        success: function(respons){
            console.log(respons);
            alert('Your account was successfully deleted!');
            document.location = "/";
            setTimeout(function () { window.close();}, 3000);
        },

        error : function (error) {
            console.error(error);
            alert('Something wrong, try one more time');
        },
    });

};

//Close change currency modal
$(document).on('click', '#deleteUserForm', function (event) {
    if (event.target.id === "deleteUserForm") {
        $("#deleteUserForm").css("display", "none");
        $("#deleteUserForm").children().empty();
    }
});

</script>