


<form id="userSettingsForm">
    <center>
        <strong><h1>Settings</h1><br></strong></center>
        <div>
            <h3 class="us-set">Current currency: {{ current_currency }}</h3>
        </div>
        <div>
            <h3 class="us-set">Email: {{ user_email }}</h3>
        </div>

        <div>
            <h3 class="us-set"><a id="changePassword">Change password</a></h3>
        </div>
        <div>
            <h3 class="us-set"><a id="changeCurrency">Change currency</a></h3>
        </div>
        <div>
            <h3 class="us-set"><a id="deleteUser">Delete account</a></h3>
        </div><br><br>

   <center> <input class="login login-submit" type="button" value="Cancel" id="goBack1"></center>

</form>

<script>

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
    if (event.target == 'bg-modal') {
        modal.style.display = "none";
    }
}

// Get the modal for change password

// When the user clicks the button, open the modal
$(document).on('click', '#changePassword', function (e) {
    $.get('change_password/', function (data) {
    $(".modal-content").html(data);
    });

})


function changePassword(){
    let inputs = {};
      $("#changePasswordFrm").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });
console.log(inputs);
    $.ajax({
        type:'PUT',
        url: window.location.href.split('/').slice(0, 3).join('/') + '/change_password/',
        data : inputs,
        success: function(respons){
            console.log(respons);
            alert('Password was successfully changed');
            document.location = "/";
        },
        error : function (error) {
            console.error(error);
            alert('Something wrong, try one more time');
        },
    });


};

//Close change password modal
$(document).on('click', '#changePasswordForm', function (event) {
    if (event.target.id === "changePasswordForm") {
        $("#changePasswordForm").css("display", "none");
        $("#changePasswordForm").children().empty();
    }
});

// Get the modal for change currency

// When the user clicks the button, open the modal
$(document).on('click', '#changeCurrency', function (e) {
    $.get("change_currency/", function (data) {
        $(".modal-content").html(data);

    });

})


function changeCurrency(){
    let inputs = {};
      $("#changeCurrencyFrm").serializeArray().forEach(function (element) {
        inputs[element.name] = element.value;
      });


    $.ajax({
        type:'PUT',
        url: window.location.href.split('/').slice(0, 3).join('/') + '/change_currency/',
        data : inputs,
        success: function(respons){
            console.log(respons);
            alert('Currency was successfully changed');
            document.location = "/";
        },

        error : function (error) {
            console.error(error);
            alert('You didn't select any currency!');
        },
    });

};

//Close change currency modal
$(document).on('click', '#changeCurrencyForm', function (event) {
    if (event.target.id === "changeCurrencyForm") {
        $("#changeCurrencyForm").css("display", "none");
        $("#changeCurrencyForm").children().empty();
    }
});

// Get the modal for change currency

// When the user clicks the button, open the modal
$(document).on('click', '#deleteUser', function (e) {
    $.get("delete_user/", function (data) {
        $(".modal-content").html(data);

    });

})


function deleteUser(){

    $.ajax({
        type:'DELETE',
        url: window.location.href.split('/').slice(0, 3).join('/') + '/delete_user/',
        success: function(respons){
            console.log(respons);
            alert('Your account was successfully deleted!');
            document.location = "/";
            setTimeout(function () { window.close();}, 3000);
        },

        error : function (error) {
            console.error(error);
            alert('Something wrong, try one more time');
        },
    });

};

//Close change currency modal
$(document).on('click', '#deleteUserForm', function (event) {
    if (event.target.id === "deleteUserForm") {
        $("#deleteUserForm").css("display", "none");
        $("#deleteUserForm").children().empty();
    }
});

</script>